/* tabs */

 ul.tabs {
	margin: 0 0 0 2em;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 8px 0 0 0;
	padding: 0;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	position: relative;
	background: #fff;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	outline: none;
}
ul.tabs li a:hover {
	background: #fff;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #dee6b9;
	/*border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; */
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	
	border-top-left-radius: 5px; 
	-moz-border-radius-topleft: 5px;
}

 .tab_container {
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background-color: #dee6b9;
	margin-bottom: 1.8em;
	border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}
